
/* HEADER */


header {
  height: 8vh;
  justify-content: flex-end;
  /* padding: 5px; */
  background-color: black;
}

.upper-nav{
  flex-basis: 10%;
}





main{
  height: calc(100vh - 18vh);
  padding: 1vh 4vw;
}
.content {
  height: 100%;
}

footer {
  height: 10vh;
  justify-content: space-between;
}



