body{
 color: white;
 font-family: Arial, Helvetica, sans-serif;
}

.dsp-flex{
  display: flex;
}

.tsp-white{
  background-color: rgba(255, 255, 255, .3);
}
.mrg-rgt{
  margin-right: 10px;
}
.crs-pnt {
  cursor: pointer;
}
/* DEBUG */

/* .debug {
  background-color: rgba(255, 0 , 0, .3);
  border: 1px solid black;
}

.h100 {
  height: 100px;
}

.h400 {
  height: 400px;
}

.h600 {
  height: 600px;
}

.speaker-view{
  background-color: blue;
}
.maximise{
  background-color: brown;
} */